<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>756235667171-2bkdljtng4hk1op0ivse2ijo6597p6ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756235667171-2bkdljtng4hk1op0ivse2ijo6597p6ck</string>
	<key>API_KEY</key>
	<string>AIzaSyC34vdLpZ-11QZueR-eYRTFn23bHApUV2o</string>
	<key>GCM_SENDER_ID</key>
	<string>756235667171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jbeleno.sismicapp</string>
	<key>PROJECT_ID</key>
	<string>sismicapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sismicapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:756235667171:ios:e4ceae22aa2804f7</string>
	<key>DATABASE_URL</key>
	<string>https://sismicapp.firebaseio.com</string>
</dict>
</plist>